<div class="board">
	<div class="grid">
		<div class="cells">
			<% for i in 0...puzzle.rows do %>
				<div class="rowX">
					<% for j in 0...puzzle.cols do %>
						<div class="cell">
							<%= puzzle.grid[i*9 + j] %> 
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
		
		
		<%	rowLen = 64*puzzle.rows
				colLen = 64*puzzle.cols %>
		<svg class= "boardSvg" width="<%= colLen %>" height="<%= rowLen %>">
			<!-- outline grid -->
			<rect width="<%= colLen %>" height="<%= rowLen %>" class="gridStyle"/>
			
			<!-- if 9x9 -->
			<% if puzzle.rows == 9 && puzzle.cols == 9 %>
				<% boxSize = 64*3 %>
				<% for i in 0...3 do %>
					<% for j in 0...3 do %>
						<rect width="<%= boxSize %>" height="<%= boxSize %>" x="<%= boxSize*i %>" y="<%=boxSize*j %>" class="gridStyle"/>
					<% end %>
				<% end %>
			<% end %>
		</svg>	
		
		
	</div>
</div>